@{
    ViewBag.Title = "Contact";
}
<h2 class="stylecontainer">@ViewBag.Title.</h2>
<h3 class="stylecontainer">NAA Contact Page</h3>

<style>
    .stylecontainer {
        margin: 2%;
        margin-top: 5%;
    }
</style>

<address class="stylecontainer">
    One NAA Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address class="stylecontainer">
    <strong>Support:</strong>   <a href="mailto:support@naa.com">support@naa.com</a><br />
    <strong>Courses:</strong> <a href="mailto:courses@naa.com">courses@naa.com</a>
</address>